--- 
default: &default
  app_name: shadowgraph_dev
  descp: 是个rails视频网站
  time_zone: Beijing
  default_locale: zh-CN  
  web_server: default # default 开发用， apache， nginx  
  max_upload_file_size: 100 # 上传文件最大尺寸，单位MB
  gravatar: "on" # on or off  
  session:
    session_key: _shadowgraph_session
    secret: 'Your secret string. To get one -- rake secret'
  ey_cookie_passport:
    public_key_path: /Users/stainless/public.pem
  eycp_domain: .localhost.com
  eycp_root: 'openid.localhost.com'
  eycp_register: 'http://openid.localhost.com:3030/account/new'
  meishi:
    url: http://meishi.localhost.com:3000  
    adapter: mysql
    encoding: utf8
    host:
    database: enjoyoung_production
    pool: 5
    username: root
    password:
    # socket: /var/run/mysqld/mysqld.sock  
    
development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
  name: 星尚视频
  root_domain: enjoyoung.cn
  descp: 是星尚旗下的视频网站服务  
  web_server: nginx
  ey_cookie_passport:
    public_key_path: /path/to/server's/eycp/public.pem
  eycp_domain: .enjoyoung.cn
  eycp_root: 'http://openid.enjoyoung.cn/'  
  eycp_register: 'http://openid.enjoyoung.cn/account/new'
  meishi:
    url: http://meishi.enjoyoung.cn
    adapter: mysql
    encoding: utf8
    host:
    database: enjoyoung_production
    pool: 5
    username: root
    password:
    # socket: /var/run/mysqld/mysqld.sock   